.Card
{
   
    height:100vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    display: flex;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.401);
   
}
#cardLayer
{
   
    height: 100vh;
    width: 100vw;
    position: absolute;
    
}

.cardBody
{
    background-color: white;
    width: 45rem;
    height: 45rem;
    box-shadow: 1px 1px 20px black;
    margin: auto;
    position: relative;
    transition-timing-function: linear;
    transition: all 0.3s;
 
  

  
}


.cardBodyExit{
    
 
    background-color: white;
    width:5rem;
    height: 5rem;
    box-shadow: 1px 1px 20px black;
    margin: auto;
    position: relative;
 transition: all 0.3s;
 transition-timing-function: linear;
}

#imageSlide
{
    width: 100%;
    height: 55%;
    
}

#cardText
{
    
    height: 240px;
    width: 100%;
    
}

.closeButton
{
    
    height: 55px;
    width: 55px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    margin-right: 0rem;
    position: relative;
    
}
#closeIcon
{
    transition: all 0.2s;
   
}
#closeIcon:hover
{
    opacity: 1;
    color: rgb(214, 22, 22);
     
    transition: 0.2s;
}
