.Contact
{
    background-color: #1b1d23;
    height: 55rem;
    padding-top: 6rem;
    font-family: 'Raleway', sans-serif;
}

.Heading
{
font-family: 'Raleway', sans-serif;
font-size: 2.5rem;
color: white;
text-align: center;
width: fit-content;
margin: auto;
font-weight: 800;
}

.Qtext
{
    color: cyan;
    text-align: center;
    margin-bottom:4rem;
}
.Text
{
    height: 55%;
 
    display: flex;
  
    justify-content: center;
}
.TextBox1
{
   width:30rem;
    align-self: center;
    
}
.Message
{
    color: white;
}
.BottomBox
{
    height:35%;
    background-color: #17181d;
    display: flex;
    justify-content: center;
}
.UPButton
{
    text-decoration: none;
    color: white;
    font-size: 3rem ;
    width: 4rem;
    margin: auto;
    background-color: crimson;
    text-align: center;
   margin-top: -2rem;
    position: absolute;
    border-radius: 1px;
    transition: all 0.2s;
}
.UPButton1
{
  text-decoration: none;
  color: white; 
  transition: all 0.2s;

}
.UPButton1:hover
{
    color: white;
    transition: all 0.2s;
}
.UPButton:hover
{
    background-color: rgba(247, 10, 57, 0.974);
    transition: all 0.2s;
}
.IconContact
{
  
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    align-self: center;
   
}
.iconR
{
    color: white;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
}
.iconR:hover
{
    color: rgb(235, 46, 46);
    cursor: pointer;
    scale: 1.2;
    transition: all 0.2s;
}

.textBoxHide
{
    opacity: 0;
}
.textBoxShow
{
    animation: BoxShow 1s forwards;
}
@keyframes BoxShow {
    0%{opacity: 0;scale: 0.2; }
    70%{opacity: 1;scale: 1;}
    80%{opacity: 1; scale: 0.7;}
    100%{opacity: 1;}
}

.HeadingShow
{
   
    animation: HeadingAni 0.5s forwards;
}
@keyframes HeadingAni {
    0%{transform: translateX(-50rem) ;opacity: 0;}
    100%{transform:translateX(0rem);opacity: 1;}

}
/* ////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width:600px) {

    .Contact
    {
        width: 100%;
        height: 100%;
     position: absolute;
    }

    .TextBox1
    {
        padding: 1.5rem;
    }

    .UPButton
{
  scale: 0.8;
}
}